{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/awal.css' %}" /> 
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> </head>
<img src="{% static 'keju.png' %}" style="width: 436px;height: 436px;margin-left: auto;margin-right: auto;display: block;">
<body style="background-color: aliceblue">
  <div class="py-5">
    <div class="container">
      <h4 class="" style="font-weight: bold">Senin</h4>
      <div class="row">
        <div class="col-md-4"  style="border: 1px solid" >
          <p id="Senin1" style="font-weight: bold;font-size: 20px">09.00 - 11.30</p>
		  {% for i in reserve %}
		  {% if i.hari == 'Senin' %}
		  {% if i.jam == 9 %}
		  <tr> {{i.matkul}} </tr>
		  <br>
		  <tr> {{i.ruang}} </tr>
		  <br>
		  <br>
		  {% endif %}
		  {% endif %}
		  {% endfor %}
        </div>
        <div class="col-md-4"  style="border: 1px solid" >
          <p id="Senin2" style="font-weight: bold;font-size: 20px">13.00 - 15.30</p>
		  {% for i in reserve %}
		  {% if i.hari == 'Senin' %}
		  {% if i.jam == 13 %}
		  <tr> {{i.matkul}} </tr>
		  <br>
		  <tr> {{i.ruang}} </tr>
		  <br>
		  <br>
		  {% endif %}
		  {% endif %}
		  {% endfor %}
        </div>
        <div class="col-md-4"  style="border: 1px solid" >
          <p id="Senin3" style="font-weight: bold;font-size: 20px">16.00 - 18.30</p>
		  {% for i in reserve %}
		  {% if i.hari == 'Senin' %}
		  {% if i.jam == 16 %}
		  <tr> {{i.matkul}} </tr>
		  <br>
		  <tr> {{i.ruang}} </tr>
		  <br>
		  <br>
		  {% endif %}
		  {% endif %}
		  {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <h4 class="" style="font-weight: bold">Selasa</h4>
      <div class="row">
        <div class="col-md-4"  style="border: 1px solid" >
          <p id="Selasa1" style="font-weight: bold;font-size: 20px">09.00 - 11.30</p>
		  {% for i in reserve %}
		  {% if i.hari == 'Selasa' %}
		  {% if i.jam == 9 %}
		  <tr> {{i.matkul}} </tr>
		  <br>
		  <tr> {{i.ruang}} </tr>
		  <br>
		  <br>
		  {% endif %}
		  {% endif %}
		  {% endfor %}
        </div>
        <div class="col-md-4"  style="border: 1px solid" >
          <p id="Selasa2" style="font-weight: bold;font-size: 20px">13.00 - 15.30</p>
		  {% for i in reserve %}
		  {% if i.hari == 'Selasa' %}
		  {% if i.jam == 13 %}
		  <tr> {{i.matkul}} </tr>
		  <br>
		  <tr> {{i.ruang}} </tr>
		  <br>
		  <br>
		  {% endif %}
		  {% endif %}
		  {% endfor %}
        </div>
        <div class="col-md-4"  style="border: 1px solid" >
          <p id="Selasa3" style="font-weight: bold;font-size: 20px">16.00 - 18.30</p>
		  {% for i in reserve %}
		  {% if i.hari == 'Selasa' %}
		  {% if i.jam == 16 %}
		  <tr> {{i.matkul}} </tr>
		  <br>
		  <tr> {{i.ruang}} </tr>
		  <br>
		  <br>
		  {% endif %}
		  {% endif %}
		  {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <h4 class="" style="font-weight: bold">Rabu</h4>
      <div class="row">
        <div class="col-md-4"  style="border: 1px solid" >
          <p id="Rabu1" style="font-weight: bold;font-size: 20px">09.00 - 11.30</p>
		  {% for i in reserve %}
		  {% if i.hari == 'Rabu' %}
		  {% if i.jam == 9 %}
		  <tr> {{i.matkul}} </tr>
		  <br>
		  <tr> {{i.ruang}} </tr>
		  <br>
		  <br>
		  {% endif %}
		  {% endif %}
		  {% endfor %}
        </div>
        <div class="col-md-4"  style="border: 1px solid" >
          <p id="Rabu2" style="font-weight: bold;font-size: 20px">13.00 - 15.30</p>
		  {% for i in reserve %}
		  {% if i.hari == 'Rabu' %}
		  {% if i.jam == 13 %}
		  <tr> {{i.matkul}} </tr>
		  <br>
		  <tr> {{i.ruang}} </tr>
		  <br>
		  <br>
		  {% endif %}
		  {% endif %}
		  {% endfor %}
        </div>
        <div class="col-md-4"  style="border: 1px solid" >
          <p id="Rabu3" style="font-weight: bold;font-size: 20px">16.00 - 18.30</p>
		  {% for i in reserve %}
		  {% if i.hari == 'Rabu' %}
		  {% if i.jam == 16 %}
		  <tr> {{i.matkul}} </tr>
		  <br>
		  <tr> {{i.ruang}} </tr>
		  <br>
		  <br>
		  {% endif %}
		  {% endif %}
		  {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <h4 class="" style="font-weight: bold">Kamis</h4>
      <div class="row">
        <div class="col-md-4"  style="border: 1px solid" >
          <p id="Kamis1" style="font-weight: bold;font-size: 20px">09.00 - 11.30</p>
		  {% for i in reserve %}
		  {% if i.hari == 'Kamis' %}
		  {% if i.jam == 9 %}
		  <tr> {{i.matkul}} </tr>
		  <br>
		  <tr> {{i.ruang}} </tr>
		  <br>
		  <br>
		  {% endif %}
		  {% endif %}
		  {% endfor %}
        </div>
        <div class="col-md-4"  style="border: 1px solid" >
          <p id="Kamis2" style="font-weight: bold;font-size: 20px">13.00 - 15.30</p>
		  {% for i in reserve %}
		  {% if i.hari == 'Kamis' %}
		  {% if i.jam == 13 %}
		  <tr> {{i.matkul}} </tr>
		  <br>
		  <tr> {{i.ruang}} </tr>
		  <br>
		  <br>
		  {% endif %}
		  {% endif %}
		  {% endfor %}
        </div>
        <div class="col-md-4"  style="border: 1px solid" >
          <p id="Kamis3" style="font-weight: bold;font-size: 20px">16.00 - 18.30</p>
		  {% for i in reserve %}
		  {% if i.hari == 'Kamis' %}
		  {% if i.jam == 16 %}
		  <tr> {{i.matkul}} </tr>
		  <br>
		  <tr> {{i.ruang}} </tr>
		  <br>
		  <br>
		  {% endif %}
		  {% endif %}
		  {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <h4 class="" style="font-weight: bold">Jumat</h4>
      <div class="row">
        <div class="col-md-4"  style="border: 1px solid" >
          <p id="Jumat1" style="font-weight: bold;font-size: 20px">09.00 - 11.30</p>
		  {% for i in reserve %}
		  {% if i.hari == 'Jumat' %}
		  {% if i.jam == 9 %}
		  <tr> {{i.matkul}} </tr>
		  <br>
		  <tr> {{i.ruang}} </tr>
		  <br>
		  <br>
		  {% endif %}
		  {% endif %}
		  {% endfor %}
        </div>
        <div class="col-md-4"  style="border: 1px solid" >
          <p id="Jumat2" style="font-weight: bold;font-size: 20px">13.00 - 15.30</p>
		  {% for i in reserve %}
		  {% if i.hari == 'Jumat' %}
		  {% if i.jam == 13 %}
		  <tr> {{i.matkul}} </tr>
		  <br>
		  <tr> {{i.ruang}} </tr>
		  <br>
		  <br>
		  {% endif %}
		  {% endif %}
		  {% endfor %}
        </div>
        <div class="col-md-4"  style="border: 1px solid" >
          <p id="Jumat3" style="font-weight: bold;font-size: 20px">16.00 - 18.30</p>
		  {% for i in reserve %}
		  {% if i.hari == 'Jumat' %}
		  {% if i.jam == 16 %}
		  <tr> {{i.matkul}} </tr>
		  <br>
		  <tr> {{i.ruang}} </tr>
		  <br>
		  <br>
		  {% endif %}
		  {% endif %}
		  {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <br>
  <br>
  <center>
  <a href="{% url 'SiKeju:tambahJadwal' %}" class="btn info" style="color:RoyalBlue">Tambah Jadwal</a>
  </center>


</body>

</html>