{% load static %}
<div id="app" v-cloak>
    <div v-if="alert_success" class="alert alert-success">
        <strong>Pendaftaran berhasil!</strong>
        Anda akan redirect ke halaman jadwal dalam 3 detik.
    </div>
    <div v-if="alert_danger" class="alert alert-danger">
        <strong>Pendaftaran gagal!</strong> Mata Kuliah sudah terdaftar atau jadwal bentrok
    </div>

    <img src="{% static 'keju.png' %}" style="width: 436px;height: 436px;margin-left: auto;margin-right: auto;display: block;">
    <center>
    <div class="mt-5">
        <form @submit="submitForm">
            <div class="form-group row">
                <label for="mata_kuliah" class="col-sm-4 col-form-label">Nama Mata Kuliah</label>
                <div class="col-sm-8"> 
                    <input v-bind:class="['form-control', mata_kuliah.value==''?'':mata_kuliah.valid?'is-valid':'is-invalid']" v-model="mata_kuliah.value" type="text" id="mata_kuliah" size ="35" placeholder="Nama Mata Kuliah" required>
                </div>
            </div>
            <br>
			<div class="form-group row">
                <label for="hari" class="col-sm-4 col-form-label">Hari</label>
                <div class="col-sm-8">
                    <input v-bind:class="['form-control', hari.value==''?'':hari.valid?'is-valid':'is-invalid']" v-model="hari.value" type="text" id="hari" size ="35" placeholder="Senin/Selasa/Rabu/Kamis/Jumat (Pilih salah satu)" required>
                </div>
            </div>
            <br>
			<div class="form-group row">
                <label for="jam" class="col-sm-4 col-form-label">Jam</label>
                <div class="col-sm-8">
                    <input v-bind:class="['form-control', jam.value==''?'':jam.valid?'is-valid':'is-invalid']" v-model="jam.value" type="text" id="jam" size ="35" placeholder="9/13/16 (Pilih salah satu)" required>
                </div>
            </div>
            <br>
			<div class="form-group row">
                <label for="ruang" class="col-sm-4 col-form-label">Ruang</label>
                <div class="col-sm-8">
                    <input v-bind:class="['form-control', ruang.value==''?'':ruang.valid?'is-valid':'is-invalid']" v-model="ruang.value" type="text" id="ruang" size ="35" placeholder="R01-R10" required>
                </div>
            </div>
            <br>
			<div class="form-group row">
                <label for="kapasitas" class="col-sm-4 col-form-label">Jumlah Mahasiswa</label>
                <div class="col-sm-8">
                    <input v-bind:class="['form-control', kapasitas.value==''?'':kapasitas.valid?'is-valid':'is-invalid']" v-model="kapasitas.value" type="text" id="kapasitas" size ="35" placeholder="Jumlah Mahasiswa" required>
                </div>
            </div>
            <br>
			<div class="form-group row">
                <label for="jumlah_kelas" class="col-sm-4 col-form-label">Jumlah Kelas</label>
                <div class="col-sm-8">
                    <input v-bind:class="['form-control', jumlah_kelas.value==''?'':jumlah_kelas.valid?'is-valid':'is-invalid']" v-model="jumlah_kelas.value" type="text" id="jumlah_kelas" size ="35" placeholder="Jumlah Kelas yang dibutuhkan" required>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-success mb-2">Submit</button>
            <button type="button" @click="cancelRegister" class="btn btn-danger mb-2">Cancel</button>
        </form>
    </div>
    </center>
</div>
