{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" /> 
{% endblock %}
{% block content %}
{% include "SiKeju/content.html" %}
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>	
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
