h1 {
    text-align: center;
}

body {
    background-color: aliceblue;
}

h2 {
    text-align:  center;
}

label.col-sm-4.col-form-label {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    padding-bottom: 100px;
}

.form-group.row {
    margin-bottom: 5px;
}